<tr>
  <td class="whitespace-nowrap px-3 py-4 w-0">
    <div class="h-12 w-12 flex-shrink-0">
      <% if product.thumbnail.attached? %>
        <%= image_tag product.thumbnail.variant(resize_to_fill: [48, 48]), class: 'rounded-md' %>
      <% else %>
        <%= image_tag 'thumbnail.png' %>
      <% end %>
    </div>
  </td>
  <td class="whitespace-nowrap py-4 text-sm">
    <div class="font-medium text-gray-900 pb-2"><%= link_to product.name, edit_product_path(product) %></div>
    <div class="text-gray-500"><%= product_url(product)%></div>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= humanized_money_with_symbol(product.price) %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= product.published? ? 'Published' : 'Unpublished' %></td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <%= link_to 'Edit', edit_product_path(product), class: 'text-indigo-600 hover:text-indigo-900' %>
  </td>
</tr>
