<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Tinysale</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/sidenav' if user_signed_in? %>
    <main class="py-10 <%= 'lg:pl-72' if user_signed_in? %>">
      <div class="px-4 sm:px-6 lg:px-8">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
